/* Global - Set up the things
/* ---------------------------------------------------------- */

/* Import CSS reset and base styles */
@import "global.css";

/* Usage: font-variation-settings: 'wght' 100-900; */
@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope[wght].woff2") format("woff2"); 
}

:root {

    /* Colours */
    --color-green: #a4d037;
    --color-yellow: #fecd35;
    --color-red: #f05230;
    --color-darkgrey: #15171A;
    --color-midgrey: #738a94;
    --color-lightgrey: #f1f1f1;
    --color-secondary-text: #979797;
    --color-border: #e1e1e1;
    --color-wash: #e5eff5;
    --color-darkmode: #151719;
    --color-white: #ffffff;

    /*
    An accent color is also set by Ghost itself in
    Ghost Admin > Settings > Brand

    --ghost-accent-color: {value};

    You can use this variable throughout your styles
     */

    /* Fonts */
    --font-sans: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-serif: Georgia, Times, serif;
    --font-mono: Menlo, Courier, monospace;

}


/* 2. Layout - Page building blocks
/* ---------------------------------------------------------- */

.viewport {
    padding: 52px;
    position: relative;
}

.main-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    max-width: 1392px;
}

.sidebar {
    position: sticky;
    top: 52px;
    height: calc(100vh - 104px);
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background:rgba(0, 0, 0, 0.1); */
}

.sidebar a {
    line-height: 1.9em;
}

.site-content {
    grid-column: 4 / 13;
    /* background: rgba(0, 0, 0, 0.2); */
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: min-content;
    gap: 40px;
}


/* Brand
/* ---------------------------------------------------------- */

.logo {
    display: block;
    font-weight: 800;
    font-size: 2.6rem;
    letter-spacing: -0.02em;
    color: inherit;
    margin: 0 0 32px -4px;
}

.logo.no-image {
    margin-top: -2px;
}

.has-cover .logo {
    color: #fff;
}

.no-logo .logo {
    display: none;
}

.logo img {
    max-height: 60px;
}

/* Primary Navigation
/* ---------------------------------------------------------- */

.menu {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.no-logo .menu {
    margin-left: -40px;
}

.menu .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu .nav li {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.menu .nav a {
    display: inline-block;
    color: inherit;
}

.menu .nav a:hover {
    opacity: 0.9;
}

/* Mobile Menu Trigger
/* ---------------------------------------------------------- */

.gh-burger {
    position: relative;
    display: none;
    cursor: pointer;
}

.gh-burger-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
}

.has-cover .gh-burger-box {
    color: #fff;
}

.gh-burger-inner {
    width: 100%;
    height: 100%;
}

.gh-burger-box::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentcolor;
    transition: transform 300ms cubic-bezier(.2,.6,.3,1), width 300ms cubic-bezier(.2,.6,.3,1);
    will-change: transform, width;
}

.gh-burger-inner::before,
.gh-burger-inner::after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: '';
    width: 100%;
    height: 1px;
    background: currentcolor;
    transition: transform 250ms cubic-bezier(.2,.7,.3,1), width 250ms cubic-bezier(.2,.7,.3,1);
    will-change: transform, width;
}

.gh-burger-inner::before {
    transform: translatey(-6px);
}
.gh-burger-inner::after {
    transform: translatey(6px);
}

body:not(.gh-head-open) .gh-burger:hover .gh-burger-inner::before {
    transform: translatey(-8px);
}
body:not(.gh-head-open) .gh-burger:hover .gh-burger-inner::after {
    transform: translatey(8px);
}

.gh-head-open .gh-burger-box::before {
    width: 0;
    transform: translatex(19px);
    transition: transform 200ms cubic-bezier(.2,.7,.3,1), width 200ms cubic-bezier(.2,.7,.3,1);
}

.gh-head-open .gh-burger-inner::before {
    width: 26px;
    transform: translatex(6px) rotate(135deg);
}

.gh-head-open .gh-burger-inner::after {
    width: 26px;
    transform: translatex(6px) rotate(-135deg);
}


/* Mobile Menu
/* ---------------------------------------------------------- */
/* IDs needed to ensure sufficient specificity */

@media (max-width: 991px) {
    .gh-burger {
        display: inline-block;
    }
    #gh-head {
        overflow: hidden;
    }
    #gh-head .gh-head-inner {
        height: 100%;
        grid-template-columns: 1fr;
    }
    #gh-head .gh-head-brand {
        position: relative;
        z-index: 10;
        grid-column-start: auto;
        max-width: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        user-select: none;
    }
    .no-logo #gh-head .gh-head-brand {
        justify-content: flex-end;
    }
    #gh-head .gh-head-menu {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 0 10vh 0;
        font-weight: 300;
        font-size: 3.6rem;
        line-height: 1.1em;
    }
    #gh-head .gh-head-menu .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        font-weight: 500;
    }
    #gh-head .gh-head-actions {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 20px 0 32px;
        text-align: left;
    }
    /* Hide collapsed content */
    #gh-head .gh-head-actions,
    #gh-head .gh-head-menu {
        display: none;
    }
    /* Open the menu */
    .gh-head-open {
        overflow: hidden;
        height: 100vh;
    }
    .gh-head-open #gh-head {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3999999;
        overflow-y: scroll;
    }
    .gh-head-open #gh-head .gh-head-inner {
        grid-template-rows: auto 1fr auto;
    }
    .gh-head-open #gh-head .gh-head-actions,
    .gh-head-open #gh-head .gh-head-menu {
        display: flex;
    }
}

@media (max-width: 600px) {
    #gh-head .gh-head-menu {
        font-size: 6vmin;
    }
}

.has-cover.gh-head-open .gh-head {
    background: var(--ghost-accent-color);
}


/* Post Feed
/* ---------------------------------------------------------- */

.post-feed {
    position: relative;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(9, 1fr);
}

/* :is(.tag-template, .author-template) .post-feed {
    margin-top: 4vmin;
} */

@media (max-width: 991px) {
    .post-feed {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .post-feed {
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}

.post-card {
    position: relative;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    background-size: cover;
    word-break: break-word;
}

.post-card-image-link {
    position: relative;
    overflow: hidden;
    display: block;
}

.post-card-title {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-darkgrey);
    z-index: 9999;
    color: var(--color-white);
    padding: 20px;
    opacity: 0;
    font-variation-settings: 'wght' 700;
    font-size: 1.9rem;
}

.post-card-title-plain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: var(--color-lightgrey);
    font-size: 1.9rem;
}

.post-card:hover .post-card-title{
    opacity: 1;
}

.post-card-image-link::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.post-card[class*="post-access-"] .post-card-image-link::after {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.post-card-image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--color-lightgrey) no-repeat center center;
    object-fit: cover;
}

.post-card-access {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.post-card-content {
    height: 100%;
    width: 100%;
    background: var(--color-darkgrey);
    padding: 20px;
}

.post-card-content-link {
    position: relative;
    display: block;
    color: var(--color-white);
}

.post-card-content-link:hover {
    text-decoration: none;
}

.post-card-content h2 {
    font-variation-settings: 'wght' 480;
    letter-spacing: 0em;
    margin: 0 0 0.2em;
}


/* Single Post
/* ---------------------------------------------------------- */

.article {
    word-break: break-word;
}

.article-header {
    padding: 0 0 22px 0;
}

.page-template .article-header {
    padding-bottom: max(3.2vmin, 28px);
}

.article-tag {
    margin-bottom: 16px;
    font-size: 1.6rem;
}

.article-tag a {
    color: var(--color-secondary-text);
}

.article-title {
    grid-column: full-start / full-end !important;
    margin: 90px 0 0;
    font-size: clamp(3.2rem, 5vw, 6.8rem);
    font-weight: 600;
    line-height: 1;
    color: var(--color-darkgrey);
}

.article-image + .article-title {
    margin-top: 40px;
}

.has-serif-title .article-title {
    font-family: var(--font-serif);
}

.article-excerpt {
    margin-top: 20px;
    max-width: 720px;
    font-size: 2rem;
    line-height: 1.45;
    color: var(--color-darkgrey);
}

.canvas .article-image {
    grid-column: full-start / full-end;
    width: 100%;
    margin: 0 0 6vmin;
    /* margin: max(6.4vmin, 40px) 0 0; */
}

.image-full .article-image {
    grid-column: full-start / full-end;
}

.image-small .article-image {
    grid-column: main-start / main-end;
}

.canvas .article-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.post-tags {
    grid-column: wide-start / wide-end;
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 60px 0 0;
    padding: 0;
}

.post-tags li {
    margin: 0 12px 0 0;
    padding: 0;
}

.post-tags li a {
    display: inline-block;
    border: 1px solid var(--color-darkgrey);
    padding: 4px 12px;
    border-radius: 999px;
}

.read-more-wrap h2 {
    margin-top: 90px;
}

@media (max-width: 767px) {
    .article-excerpt {
        margin-top: 14px;
        font-size: 1.7rem;
    }
}

/* -------- */

/* Content grid
/* ---------------------------------------------------------- */

/* Canvas creates a multi-column, centered grid which the post
is laid out on top of. Canvas just defines the grid, we don't
use it for applying any other styles. */

.canvas {
    display: grid;
    grid-template-columns:
        [full-start main-start wide-start]
        6fr
            [main-end]
            3fr
        [wide-end full-end]
    ;
    column-gap: 40px;
}

.canvas > * {
    grid-column: main-start / main-end;
}

.kg-width-wide {
    grid-column: wide-start / wide-end;
}

.kg-width-full {
    grid-column: full-start / full-end;
}

.kg-width-full img {
    width: 100%;
}


/* Content
/* ---------------------------------------------------------- */

/* Content refers to styling all page and post content that is
created within the Ghost editor. The main content handles
headings, text, images and lists. We deal with cards lower down. */

/* Default vertical spacing */
.content > * + * {
    margin-top: max(3.2vmin, 24px);
    margin-bottom: 0;
}

/* [id] represents all headings h1-h6, reset all margins */
.content > [id] {
    margin: 0;
    color: var(--color-darkgrey);
}

.has-serif-title .content > [id] {
    font-family: var(--font-serif);
}

/* Add back a top margin to all headings, unless a heading
is the very first element in the post content */
.content > [id]:not(:first-child) {
    margin: 2em 0 0;
}

/* Add a small margin between a heading and anything after it */
.content > [id] + * {
    margin-top: 1.5rem !important;
}

/* A larger margin before/after HRs and blockquotes */
.content > hr,
.content > blockquote {
    position: relative;
    margin-top: max(4.8vmin, 32px);
}
.content > hr + *,
.content > blockquote + * {
    margin-top: max(4.8vmin, 32px) !important;
}

/* Now the content typography styles */
.content a {
    color: var(--ghost-accent-color);
    text-decoration: underline;
    word-break: break-word;
}

.content > blockquote:not([class]),
.content > ol,
.content > ul,
.content > dl,
.content > p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.6em;
}

.content .kg-callout-card .kg-callout-text,
.content .kg-toggle-card .kg-toggle-content > ol,
.content .kg-toggle-card .kg-toggle-content > ul,
.content .kg-toggle-card .kg-toggle-content > p {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 1.6em;
}

.content .kg-product-card .kg-product-card-description > p,
.content .kg-product-card .kg-product-card-description > ol,
.content .kg-product-card .kg-product-card-description > ul {
    font-size: 1.7rem;
    line-height: 1.6em;
}

.content .kg-callout-card .kg-callout-emoji {
    font-size: 2.1rem;
    line-height: 1.4em;
}

.content .kg-toggle-card .kg-toggle-heading-text {
    font-size: 2.0rem;
}

.has-sans-body .content > blockquote,
.has-sans-body .content > ol,
.has-sans-body .content > ul,
.has-sans-body .content > dl,
.has-sans-body .content > p,
.has-sans-body .content .kg-callout-card .kg-callout-text,
.has-sans-body .content .kg-toggle-card .kg-toggle-content > ol,
.has-sans-body .content .kg-toggle-card .kg-toggle-content > ul,
.has-sans-body .content .kg-toggle-card .kg-toggle-content > p {
    font-family: var(--font-sans);
}

.content > ul,
.content > ol,
.content > dl,
.content .kg-toggle-card .kg-toggle-content > ol,
.content .kg-toggle-card .kg-toggle-content > ul,
.content .kg-product-card .kg-product-card-description > ol,
.content .kg-product-card .kg-product-card-description > ul {
    padding-left: 1.9em;
}

.content > blockquote:not([class]) {
    position: relative;
    font-style: italic;
    padding: 0;
}

.content > blockquote:not([class])::before {
    content: "";
    position: absolute;
    left: -1.5em;
    top: 0;
    bottom: 0;
    width: 0.3rem;
    background: var(--ghost-accent-color);
}

.content :not(pre) > code {
    vertical-align: middle;
    padding: 0.15em 0.4em 0.15em;
    border: #e1eaef 1px solid;
    font-weight: 400 !important;
    font-size: 0.9em;
    line-height: 1em;
    color: #15171A;
    background: #f0f6f9;
    border-radius: 0.25em;
}

.content pre {
    overflow: auto;
    padding: 16px 20px;
    color: var(--color-wash);
    font-size: 1.4rem;
    line-height: 1.5em;
    background: var(--color-darkgrey);
    border-radius: 5px;
    box-shadow: 0 2px 6px -2px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.4);
}

@media (max-width: 650px) {
    .content > blockquote:not([class]),
    .content > ol,
    .content > ul,
    .content > dl,
    .content > p,
    .content .kg-callout-card .kg-callout-text,
    .content .kg-toggle-card .kg-toggle-content > ol,
    .content .kg-toggle-card .kg-toggle-content > ul,
    .content .kg-toggle-card .kg-toggle-content > p {
        font-size: 1.8rem;
    }

    .content .kg-product-card .kg-product-card-description > p,
    .content .kg-product-card .kg-product-card-description > ol,
    .content .kg-product-card .kg-product-card-description > ul {
        font-size: 1.6rem;
    }

    .content blockquote:not([class])::before {
        left: min(-4vmin, -20px);
    }
}


/* Cards
/* ---------------------------------------------------------- */

/* Cards are dynamic blocks of content which appear within Ghost
posts, for example: embedded videos, tweets, galleries, or
specially styled bookmark links. We add extra styling here to
make sure they look good, and are given a bit of extra spacing. */

/* Add extra margin before/after any cards,
except for when immediately preceeded by a heading */
.content :not(.kg-card):not([id]) + .kg-card {
    margin-top: 6vmin;
    margin-bottom: 0;
}
.content .kg-card + :not(.kg-card) {
    margin-top: 6vmin;
    margin-bottom: 0;
}

/* This keeps small embeds centered */
.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* This keeps small iamges centered */
.kg-image-card img {
    margin: auto;
}

.has-serif-title .kg-toggle-card .kg-toggle-heading-text {
    font-family: var(--font-serif);
}

.content .kg-callout-card-accent a {
    text-decoration: underline;
}

.kg-blockquote-alt {
    font-family: var(--font-serif);
    color: var(--color-midgrey);
}

.has-sans-body .kg-blockquote-alt {
    font-family: var(--font-sans);
}

.kg-card.kg-header-card.kg-style-dark {
    background: var(--color-darkgrey);
}

.kg-header-card.kg-style-light h2.kg-header-card-header {
    color: color-mod(var(--color-darkgrey) l(-5%));
}

.has-serif-title .kg-header-card h2.kg-header-card-header {
    font-family: var(--font-serif);
}


/* Captions */
figcaption {
    padding: 1.5rem 1.5rem 0;
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-size: 1.3rem;
    line-height: 1.4em;
}
figcaption strong {
    color: rgba(0,0,0,0.8);
}
figcaption a {
    text-decoration: underline;
}


/* Highly specific styles for traditional Instagram embeds */
iframe.instagram-media {
    margin-top: 6vmin !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 0 !important;
}

iframe.instagram-media + script + :not([id]) {
    margin-top: 6vmin;
}


/* Card captions
/* ---------------------------------------------------------- */

.kg-width-full.kg-card-hascaption {
    display: grid;
    grid-template-columns: inherit;
}

.kg-width-wide.kg-card-hascaption img {
    grid-column: wide-start / wide-end;
}
.kg-width-full.kg-card-hascaption img {
    grid-column: 1 / -1;
}

.kg-width-full.kg-card-hascaption figcaption {
    grid-column: main-start / main-end;
}

.article-comments {
    margin: 6vmin 0 0 0;
}

/* -----old------ */

.footnotes-sep {
    margin-bottom: 30px;
}

.footnotes {
    font-size: 1.5rem;
}

.footnotes p {
    margin: 0;
}

.footnote-backref {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: none !important;
}

/* Tables */
.content table {
    display: inline-block;
    overflow-x: auto;
    max-width: 100%;
    width: auto;
    border-spacing: 0;
    border-collapse: collapse;
    font-family: var(--font-sans);
    font-size: 1.6rem;
    white-space: nowrap;
    vertical-align: top;
}

.content table {
    -webkit-overflow-scrolling: touch;
    background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
    background-attachment: scroll, scroll;
    background-size: 10px 100%, 10px 100%;
    background-repeat: no-repeat;
}

.content table td:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.content table td:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-position: 100% 0;
    background-size: 20px 100%;
    background-repeat: no-repeat;
}

.content table th {
    color: var(--color-darkgrey);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-align: left;
    text-transform: uppercase;
    background-color: color-mod(var(--color-wash) l(+4%));
}

.content table th,
.content table td {
    padding: 6px 12px;
    border: color-mod(var(--color-wash) l(-1%) s(-5%)) 1px solid;
}


/* Post Byline
/* ---------------------------------------------------------- */

.article-byline {
    display: flex;
    justify-content: space-between;
    margin: min(24px, 5.6vmin) 0 0;
}

.article-byline-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.article-byline-content .author-list {
    justify-content: flex-start;
    padding: 0 14px 0 0;
}

.article-byline-meta {
    color: var(--color-secondary-text);
    font-size: 1.4rem;
    line-height: 1.2em;
}

.article-byline-meta .author-name {
    margin: 0 0 6px;
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 0;
}

.article-byline-meta .bull {
    display: inline-block;
    margin: 0 2px;
}

.author-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -4px;
    width: min(56px, 13.6vmin);
    height: min(56px, 13.6vmin);
    border: #fff 2px solid;
    border-radius: 50%;
    background-color: var(--color-border);
}

.page-template .article-title {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .article-byline-content .author-list {
        padding-right: 12px;
    }
    .article-byline-meta .author-name {
        margin-bottom: 4px;
    }
}

/* Author Template
/* ---------------------------------------------------------- */

.author-profile-pic {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 0 2rem;
    background: color-mod(var(--color-lightgrey) l(+10%));
    border-radius: 50%;
}

.author-profile-footer {
    margin-top: 16px;
}

.author-profile-location {
    font-weight: 700;
}

.author-profile-meta {
    display: flex;
    gap: 10px;
}

.author-profile-social-link {
    font-size: 1.3rem;
    color: var(--color-secondary-text);
}

.author-profile-social-link:hover {
    color: var(--color-darkgrey);
}

.author-profile-social-link svg {
    width: 16px;
    height: 16px;
}

@media (min-width: 1001px) {
    .author-template .post-card-large .post-card-content {
        grid-column: span 2;
        max-width: 640px;
    }
}


/* Tag Template
/* ---------------------------------------------------------- */

.tag-template .post-card-large .post-card-image-link {
    grid-column: 2 / span 2;
    order: 2;
}

.tag-template .post-card-large .post-card-content {
    order: 1;
}

@media (min-width: 1001px) {
    .tag-template .post-card-large .post-card-content {
        grid-column: span 2;
        max-width: 640px;
    }
}

/* Error Template
/* ---------------------------------------------------------- */

.error-content {
    padding: 14vw 4vw 2vw;
}

.error-message {
    padding-bottom: 10vw;
    text-align: center;
}

.error-code {
    margin: 0;
    font-size: 12vw;
    line-height: 1em;
    letter-spacing: -5px;
}

.error-description {
    margin: 0;
    color: var(--color-secondary-text);
    font-size: 3.2rem;
    line-height: 1.3em;
    letter-spacing: -0.005em;
    font-weight: 400;
}

.error-link {
    display: inline-block;
    margin-top: 5px;
}

@media (min-width: 940px) {
    .error-content .post-card {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: 800px) {
    .error-content {
        padding-top: 24vw;
    }
    .error-code {
        font-size: 11.2rem;
    }
    .error-message {
        padding-bottom: 16vw;
    }
    .error-description {
        margin: 5px 0 0 0;
        font-size: 1.8rem;
    }
}

@media (max-width: 500px) {
    .error-content {
        padding-top: 28vw;
    }
    .error-message {
        padding-bottom: 14vw;
    }
}


/* Dark Mode
/* ---------------------------------------------------------- */
@media (prefers-color-scheme: dark) {
    html.auto-color body {
        color: rgba(255, 255, 255, 0.75);
        background: var(--color-darkmode);
    }

    html.auto-color img {
        opacity: 0.9;
    }

    html.auto-color kbd {
        background: color-mod(var(--color-darkmode) l(+5%));
    }

    html.auto-color figcaption a {
        color: #fff;
    }

    html.auto-color .gh-head {
        background: var(--color-darkmode);
        color: #fff;
    }

    html.auto-color .gh-burger-box {
        color: #fff;
    }

    html.auto-color .site-header-content {
        color: #fff;
    }

    html.auto-color .post-card-image {
        background: var(--color-darkmode);
    }

    html.auto-color :is(.post-card-tags, .post-card-meta, .article-tag a, .byline-meta-content) {
        color: color-mod(var(--color-secondary-text) l(-22%));
    }

    html.auto-color .post-card-featured {
        color: #fff;
    }

    html.auto-color .post-card-title {
        color: #fff;
    }

    html.auto-color .post-card-excerpt {
        color: var(--color-secondary-text);
    }

    html.auto-color .author-profile-location {
        color: #fff;
    }

    html.auto-color .author-profile-social-link:hover {
        color: #fff;
    }

    html.auto-color .article-title {
        color: #fff;
    }

    html.auto-color .article-excerpt {
        color: var(--color-secondary-text);
    }

    html.auto-color .post-full-image {
        background-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .author-avatar {
        border-color: var(--color-darkmode);
        background-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .author-profile-image {
        opacity: 1;
    }

    html.auto-color .author-profile-image path {
        fill: var(--color-darkmode);
    }

    html.auto-color .article-byline-meta .author-name a {
        color: #fff;
    }

    html.auto-color .no-image .author-social-link a {
        color: rgba(255, 255, 255, 0.75);
    }

    html.auto-color .content > [id] {
        color: rgba(255, 255, 255, 0.9);
    }

    html.auto-color .content pre {
        background: color-mod(var(--color-darkgrey) l(-8%));
    }

    html.auto-color .content :not(pre) > code {
        background: color-mod(var(--color-darkgrey) l(+6%));
        border-color: color-mod(var(--color-darkmode) l(+8%));
        color: var(--color-wash);
    }

    html.auto-color .content a:not(.kg-btn):not(.kg-nft-card-container):not(.kg-product-card-button):not(.kg-header-card-button) {
        color: #fff;
    }

    html.auto-color .content strong {
        color: #fff;
    }

    html.auto-color .content em {
        color: #fff;
    }

    html.auto-color .content code {
        color: #fff;
        background: #000;
    }

    html.auto-color hr {
        border-top-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .content hr:after {
        background: color-mod(var(--color-darkmode) l(+8%));
        box-shadow: var(--color-darkmode) 0 0 0 5px;
    }

    html.auto-color figcaption {
        color: rgba(255, 255, 255, 0.6);
    }

    html.auto-color .content table td:first-child {
        background-image: linear-gradient(to right, var(--color-darkmode) 50%, color-mod(var(--color-darkmode) a(0%)) 100%);
    }

    html.auto-color .content table td:last-child {
        background-image: linear-gradient(to left, var(--color-darkmode) 50%, color-mod(var(--color-darkmode) a(0%)) 100%);
    }

    html.auto-color .content table th {
        color: rgba(255, 255, 255, 0.85);
        background-color: color-mod(var(--color-darkmode) l(+8%));
    }

    html.auto-color .content table th,
    html.auto-color .content table td {
        border: color-mod(var(--color-darkmode) l(+8%)) 1px solid;
    }

    html.auto-color .content input {
        color: color-mod(var(--color-midgrey) l(-30%));
    }

    html.auto-color .site-archive-header .no-image {
        color: rgba(255, 255, 255, 0.9);
        background: var(--color-darkmode);
    }

    html.auto-color .kg-header-card.kg-style-dark {
        background: color-mod(var(--color-darkgrey) l(-5%));
    }

    html.auto-color .kg-header-card.kg-style-light {
        background: color-mod(var(--color-darkgrey) l(+5%));
    }

    html.auto-color .kg-header-card h2.kg-header-card-header,
    html.auto-color .kg-header-card h3.kg-header-card-subheader {
        color: #fff;
    }

    html.auto-color .footer-cta-title {
        color: #fff;
    }
}
